body{
	padding:0px;
	margin:0px;

	background-color: rgb(215 215 215); 
}

.header{
	background-color: lightblue;

	width:99vw;
	height:15vh;

	position: -webkit-sticky;
  	position: sticky;
  	top: 0;


	z-index:10;
}









.sections{
background-color: rgb(215 215 215);

width:99vw;

display:flex;
flex-direction: column;

text-align: center;
}

.section{
/*background-color: blue;*/

width:99vw;
height: 100vh;

display:flex;
flex-wrap: nowrap;

text-align: center;
}

						.sectionLeft{
							/*background-color: yellow;
							border:1px solid blue;*/


							position: relative;

							width:30%;

							padding:9vw;
							padding-right: 4vw;
							padding-bottom: 0px;
							margin:5vw;
							margin-right:0px;

							text-align: left;
						}

						.sectionRight{
							/*background-color: pink;
							border:1px solid red;*/

							width:70%;


							padding:9vw;
							padding-bottom: 0px;
							padding-left: 4vw;
							margin:5vw;
							margin-left: 0px;

							text-align: left;
						}







